<section id="footer">
    <div class="main">
        <div class="social-links">
            <a href="https://www.facebook.com/KonradZelazny.TrenerPersonalny/" target="_blank">
                <img src="assets/icons/facebook-logo.svg" alt="facebook">
            </a>
            <a href="https://www.instagram.com/zelazny_trening/" target="_blank">
                <img src="assets/icons/instagram-logo.svg" alt="instagram">
            </a>
        </div>
        <p class="signature">© 2024 KONRAD ŻELAZNY</p>
    
    </div>

    <p class="author">Twórca strony: Damian Kaniewski</p>
</section>