#footer {
    background-color: #6F0000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.social-links a {
  margin: 5px;
}

.social-links img {
    width: 50px;
}  
.signature {
    font-size: 14px;
    text-align: right;
    vertical-align: center;
    padding-bottom: 3px;
}

.author {
    font-size: 12px;
    text-align: right;
    vertical-align: center;
    margin:0;
}