#footer {
  position: relative;
  background-color: #6f0000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: hidden;
}
.hex-image {
  position: absolute;
  top: 0;
  filter: opacity(75%);
  width: 100%;
  z-index: 0;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95%;
  z-index: 1;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.social-links a {
  margin: 5px;
}

.social-links img {
  width: 50px;
}
.signature {
  font-size: 18px;
  text-align: right;
  vertical-align: center;
  padding-bottom: 10px;
}

.information {
  width: 92%;
  padding-bottom: 20px;
  z-index: 1;
}

.author {
  font-size: 10px;
  text-align: right;
  vertical-align: center;
  margin: 0;
  z-index: 1;
}
