<section id="offer">
    <p class="header-text">OFERTA</p>
    <div class="offer-container">
        <!-- Trening -->
        <div class="offer-item">
            <img class="item-image" src="assets/backgrounds/trening.png" alt="">
            <p class="item-title">Trening personalny</p>
            <p class="item-desc">Indywidualny trening dopasowany do Twoich celów i potrzeb</p>
            <div class="price-container">
                <p class="price">120 zł</p>
                <button class="item-button">Wybierz</button>
            </div>
        </div>
        <!-- Voucher -->
        <div class="offer-item">
            <img class="item-image" src="assets/backgrounds/voucher.jpg" alt="">
            <p class="item-title">Voucher</p>
            <p class="item-desc">Voucher na trening personalny</p>
            <div class="price-container">
                <p class="price">120 zł</p>
                <button class="item-button">Wybierz</button>
            </div>
        </div>
        <!-- Plan Treningowy -->
        <div class="offer-item">
            <img class="item-image" src="assets/backgrounds/training-plan.png" alt="">
            <p class="item-title">Plan treningowy</p>
            <p class="item-desc">Spersonalizowany plan treningowy dostosowany do Twoich celów</p>
            <div class="price-container">
                <p class="price">120 zł</p>
                <button class="item-button">Wybierz</button>
            </div>
        </div>
    </div>
</section>