<section id="offer">
  <p class="header-text">OFERTA</p>
  <div class="offer-container">
    <!-- Trening -->
    <div
      class="offer-item"
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-once="true"
    >
      <img
        class="item-image"
        src="assets/backgrounds/training.png"
        alt=""
        data-aos="zoom-in"
        data-aos-duration="1000"
        data-aos-once="true"
      />
      <p class="item-title">Trening personalny</p>
      <p class="item-desc">
        Indywidualny trening dopasowany do Twoich celów i potrzeb
      </p>
      <button class="item-button" (click)="redirectToOffers('training')">
        Szczegóły
      </button>
    </div>
    <!-- Plan Treningowy -->
    <div
      class="offer-item"
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-once="true"
    >
      <img
        class="item-image"
        src="assets/backgrounds/trainingPlan.png"
        alt=""
        data-aos="zoom-in"
        data-aos-duration="1000"
        data-aos-once="true"
      />
      <p class="item-title">Plan treningowy</p>
      <p class="item-desc">
        Spersonalizowany plan treningowy dostosowany do Twoich celów
      </p>
      <button class="item-button" (click)="redirectToOffers('trainingPlan')">
        Szczegóły
      </button>
    </div>
    <!-- Współpraca online -->
    <div
      class="offer-item"
      data-aos="fade-left"
      data-aos-duration="500"
      data-aos-once="true"
    >
      <img
        class="item-image"
        src="assets/backgrounds/onlineTraining.png"
        alt=""
        data-aos="zoom-in"
        data-aos-duration="1000"
        data-aos-once="true"
      />
      <p class="item-title">Prowadzenie treningowe</p>
      <p class="item-desc">
        Plan treningowy, stały kontakt z trenerem i regularna obserwacja
      </p>
      <button class="item-button" (click)="redirectToOffers('onlineTraining')">
        Szczegóły
      </button>
    </div>
  </div>
</section>
