<section id="contact">
  <p class="header-text">SKONTAKTUJ SIĘ</p>
  <img
    src="assets/photos/1t.png"
    alt="Konrad Żelazny"
    data-aos="zoom-in"
    class="main-photo"
  />
  <form class="contact-form">
    <input type="text" name="name" required placeholder="Imię i nazwisko" />
    <input type="email" name="email" required placeholder="Adres e-mail" />
    <input
      type="number"
      name="number"
      placeholder="Numer telefonu (opcjonalnie)"
    />
    <textarea
      id="message"
      required
      name="message"
      placeholder="W czym mogę Ci pomóc?"
    ></textarea>
    <button type="submit">Wyślij</button>
  </form>
  <div class="information">
    <div class="information-item" data-aos="zoom-in" data-aos-duration="1000">
      <div class="information-header">
        <img
          class="information-img"
          src="assets/icons/journey.png"
          alt="map icon"
        />
        <p>Miejsce treningów</p>
      </div>
      <p>Xtreme Fitness<br />29 Listopada 21, 32-050 Skawina</p>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            src="https://maps.google.com/maps?q=xtreme%20skawina&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
            frameborder="0"
            scrolling="no"
            style="width: 330px; height: 240px"
          ></iframe
          ><style>
            .mapouter {
              position: relative;
              height: 240px;
              width: 330px;
              background: #fff;
            }
            .maprouter a {
              color: #fff !important;
              position: absolute !important;
              top: 0 !important;
              z-index: 0 !important;
            }</style
          ><a href="https://blooketjoin.org/blooket-host/">blooket host</a
          ><style>
            .gmap_canvas {
              overflow: hidden;
              height: 240px;
              width: 370px;
            }
            .gmap_canvas iframe {
              position: relative;
              z-index: 2;
            }
          </style>
        </div>
      </div>
    </div>
    <div class="information-item" data-aos="zoom-in" data-aos-duration="1000">
      <div class="information-header">
        <img
          class="information-img"
          src="assets/icons/telephone.png"
          alt="map icon"
        />
        <p>Telefon</p>
      </div>
      <p>+48 666 856 171</p>
    </div>
    <div class="information-item" data-aos="zoom-in" data-aos-duration="1000">
      <div class="information-header">
        <img
          class="information-img"
          src="assets/icons/email.png"
          alt="map icon"
        />
        <p>E-mail</p>
      </div>
      <p>zelaznykonrad@gmail.com</p>
    </div>
  </div>
</section>
