#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.main-photo {
  width: 200px;
  z-index: -1;
  filter: brightness(1.35);
}

.header-text {
  text-align: center;
  margin: 15px;
  font-size: 48px;
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  width: 75%;
  height: 100%;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  outline: none;
  transition: border-color 0.5s;
}

.contact-form input::placeholder,
textarea::placeholder {
  color: #c2c2c2;
}

.contact-form input:focus {
  border-bottom-color: #6f0000;
  font-weight: bold;
}

#message {
  height: 150px;
  line-height: 150%;
  outline: 0;
  margin-bottom: 20px;
}

.contact-form button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #6f0000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  box-sizing: border-box;
  color: #6f0000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.information-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information-img {
  width: 50px;
  height: 50px;
}

.information-item p {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.information-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.information-header p {
  font-size: 26px;
  padding: 20px 10px 20px 10px;
}

.mapouter {
  border-radius: 15px;
  border: 4px solid #6f0000;
  margin-top: 15px;
  z-index: 0;
}
.mapouter iframe {
  border-radius: 15px;
}

#modal {
  color: black;
  font-weight: bold;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  bottom: 0;
  margin-bottom: 50px;
  border: 3px solid #6f0000;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 22px;
  padding: 5px;
  border-radius: 15px;
  width: 320px;
  height: 60px;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}
