<hr>
<section id="about">
    <h1 class="primary">O MNIE</h1>
    <div class="main-container">
        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <img src="assets/backgrounds/konrad2.png" alt="Konrad Żelazny">
    </div>
    <div class="second-container">
        <img src="assets/backgrounds/konrad3.png" alt="Konrad Żelazny">
        <h1 class="secondary">TRENING</h1>
        <div class="text-container">
            <p class="about-text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
    </div>
    <div class="third-container">
        <h1 class="primary">DLACZEGO JA?</h1>
        <div class="benefits-container">
        <div class="benefits-items">
            <div class="benefits-item">
                <img src="assets/icons/tick.svg" alt="Tick">
                <p class="benefits-text"> BENEFIT</p>
            </div>
            <div class="benefits-item">
                <img src="assets/icons/tick.svg" alt="Tick">
                <p class="benefits-text"> BENEFIT</p>
            </div>
            <div class="benefits-item">
                <img src="assets/icons/tick.svg" alt="Tick">
                <p class="benefits-text"> BENEFIT</p>
            </div>
            <div class="benefits-item">
                <img src="assets/icons/tick.svg" alt="Tick">
                <p class="benefits-text"> BENEFIT</p>
            </div>
        </div>
        <img src="assets/backgrounds/konrad4.png" alt="Konrad Żelazny">
        </div>

    </div>
</section>

