<section id="about">
  <p class="header-text">O MNIE</p>
  <div class="text-container">
    <p class="main-text">
      Cześć. Mam na imię <strong>Konrad</strong> i&nbsp;jestem akredytowanym
      trenerem personalnym.
    </p>
    <p class="main-text">
      Po prawie trzech latach pracy stojącej i&nbsp;czterech latach pracy za
      biurkiem, rozumiem jak trudne może być
      <strong>utrzymanie zdrowia i&nbsp;sprawności fizycznej.</strong>
    </p>

    <div class="image-container">
      <img src="assets/photos/1.jpg" alt="Konrad Żelazny" />
    </div>

    <p class="main-text">
      Teraz jako w pełni <strong>wykwalifikowany trener personalny</strong>,
      moim celem jest zapewnie Ci wskazówek i&nbsp;wsparcia, których
      potrzebujesz, aby stać się
      <strong>lepszą i&nbsp;silniejsza wersją siebie.</strong>
    </p>
    <p class="main-text">
      Zapraszam Cię serdecznie do współpracy, razem możemy zdziałać naprawdę
      wiele.
    </p>

    <div class="image-container">
      <img src="assets/photos/2.jpg" alt="Konrad Żelazny" />
    </div>
  </div>
</section>
