<section id="about">
  <p class="header-text">O MNIE</p>
  <div class="text-container">
    <p class="main-text">
      <strong>Cześć.</strong> Mam na imię <strong>Konrad</strong> i&nbsp;jestem
      akredytowanym trenerem personalnym.
    </p>
    <p class="main-text">
      Po prawie trzech latach pracy stojącej i&nbsp;czterech latach pracy za
      biurkiem, rozumiem jak trudne może być utrzymanie zdrowia
      i&nbsp;sprawności fizycznej.
    </p>

    <div class="image-container">
      <img src="assets/photos/1.jpg" alt="Konrad Żelazny" />
    </div>

    <p class="main-text">
      Teraz jako w pełni wykwalifikowany trener personalny, moim celem jest
      zapewnie Ci wskazówek i&nbsp;wsparcia, których potrzebujesz, aby stać się
      lepszą i&nbsp;silniejsza wersją siebie.
    </p>
    <p class="main-text">
      Zapraszam Cię serdecznie do współpracy, razem możemy zdziałać naprawdę
      wiele.
    </p>

    <div class="image-container">
      <img src="assets/photos/2.jpg" alt="Konrad Żelazny" />
    </div>
  </div>
</section>

<!-- 
  <p
    class="middle-text"
    data-aos="fade-right"
    data-aos-duration="1500"
    data-aos-once="true"
  >
    <strong>Cześć.</strong> Mam na imię <strong>Konrad</strong> i&nbsp;jestem
    akredytowanym trenerem personalnym.
  </p>
  <hr class="between" />
  <div class="main-container">
    <img src="assets/photos/1s.jpg" alt="Konrad Żelazny" class="background" />
  </div>
  <hr class="between" />
  <p
    class="middle-text"
    data-aos="fade-left"
    data-aos-duration="1500"
    data-aos-once="true"
  >
    Po prawie trzech latach pracy stojącej i&nbsp;czterech latach pracy za
    biurkiem, rozumiem jak trudne może być utrzymanie zdrowia i&nbsp;sprawności
    fizycznej.
  </p>
  <hr class="between" />
  <div class="main-container">
    <img src="assets/photos/2s.jpg" alt="Konrad Żelazny" class="background" />
  </div>
  <hr class="between" />
  <p
    class="middle-text"
    data-aos="fade-right"
    data-aos-duration="1500"
    data-aos-once="true"
  >
    Teraz jako w pełni wykwalifikowany trener personalny, moim celem jest
    zapewnie Ci wskazówek i&nbsp;wsparcia, których potrzebujesz, aby stać się
    lepszą i&nbsp;silniejsza wersją siebie.
  </p>
  <hr class="between" />
  <div class="main-container">
    <img src="assets/photos/5s.jpg" alt="Konrad Żelazny" class="background" />
  </div>
  <hr class="between" />
  <p
    class="middle-text"
    data-aos="fade-left"
    data-aos-duration="1500"
    data-aos-once="true"
  >
    Zapraszam Cię serdecznie do współpracy, razem możemy zdziałać naprawdę
    wiele.
  </p>
  <hr class="between" />
 -->
