#homepage {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#homepage hr {
    margin: 0;
    border: 2px solid #6F0000;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    color: black;
    text-align: center;
    font-size: 34px;
}

.main-image {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 0px 25px #00000060);
    width: 90%;
}

.main-image img{
    width: 100%;
    height: auto;
    z-index: -1;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-button, .contact-button {
    background-color: white;
    z-index: 0;
    border: 3px solid #6F0000;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 6px 4px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 20px;
}

.offer-button img, .contact-button img {
    position: absolute;
    z-index: -1;
    opacity: 50%;
    filter: blur(1px);
}

.offer-button img {
    width: 140px;
}

.contact-button img {
    width: 100px;
}

.button-text {
    color: #6F0000;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 0px 0px 12px white;
}