<section id="homepage">
    <div class="main-image" data-aos="zoom-in" data-aos-duration="1000">
        <img src="assets/logo/konradzelaznylogowtle.png" alt="Konrad Żelazny">
    </div>
    <p class="text-container" data-aos="zoom-out" data-aos-duration="2000">PROFESJONALNY TRENING POD OKIEM <b>DOŚWIADCZONEGO TRENERA</b></p>
    <div class="buttons">
        <button class="offer-button" (click)="navigateToSection('offer')" data-aos="fade-right" data-aos-duration="1000">
            <img src="assets/backgrounds/training.png" alt="">
            <p class="button-text">Oferta</p>
        </button>
        <button class="contact-button" (click)="navigateToSection('contact')" data-aos="fade-left" data-aos-duration="1000">
            <img src="assets/icons/email.png" alt="">
            <p class="button-text">Kontakt</p>
        </button>
    </div>

</section>