<section id="offer-thanks">
  <div class="thanks" data-aos="zoom-in">
    <p>
      <b>Dziękuję za złożenie zamówienia!</b><br /><br />

      Proszę dokonać wpłaty na numer konta: <br /><br /><b
        style="font-size: 32px"
        >72 1050 1445 1000 0097 4813 8006</b
      ><br /><br />
      w wysokości <br /><br /><b style="font-size: 32px">{{ price }} zł</b
      ><br /><br />
      pod tytułem <br /><br /><b style="font-size: 32px"
        >Imię, Nazwisko, rodzaj oferty (np. Trening)</b
      ><br /><br />
      Po zaksięgowaniu pieniędzy na koncie, proszę oczekiwać na
      <b>maila z linkiem</b>, do ankiety. Wypełnienie ankiety jest
      <b>niezbędne</b> do podjęcia współpracy.
    </p>
  </div>
  <button id="backButton" (click)="goBack()">Powrót do strony głównej</button>
  <img
    src="assets/logo/konradzelaznylogowtle.png"
    alt="Konrad Żelazny"
    data-aos="zoom-in-up"
    data-aos-duration="1000"
  />
</section>
