<section id="offer-thanks">
    <div class="thanks" data-aos="zoom-in">
        <p>Dziękuję za złożenie zamówienia! Trener skontaktuje się z Tobą w najbliższym czasie.</p>
    </div>
    <div class="info" data-aos="zoom-in">
        <p>Za chwilę zostaniesz przekierowany na stronę główną. Jeśli przekierowanie się nie powiodło, wciśnij przycisk:</p>
        <button id="backButton" (click)="goBack()">Powrót</button>
    </div>
    <img src="assets/logo/konradzelaznylogowtle.png" alt="Konrad Żelazny" data-aos="zoom-in-up" data-aos-duration="1000">
</section>

