<section id="offers">
  <p class="header-text">Formularz zamówienia</p>
  
  <div class="offer-details" *ngIf="selectedOption === 'voucher'" [@fadeAnimation]="selectedOption">
    <img class="item-image" src="assets/backgrounds/voucher.jpg" alt="">
    <p class="item-title">Voucher</p>
    <p class="item-desc">Voucher na trening personalny</p>
    <p class="price">120 zł</p>
  </div>
  <div class="offer-details" *ngIf="selectedOption === 'training'" [@fadeAnimation]="selectedOption">
    <img class="item-image" src="assets/backgrounds/training.png" alt="">
    <p class="item-title">Trening personalny</p>
    <p class="item-desc">Indywidualny trening dopasowany do Twoich celów i potrzeb</p>
    <p class="price">120 zł</p>
  </div>
  <div class="offer-details" *ngIf="selectedOption === 'trainingPlan'" [@fadeAnimation]="selectedOption">
    <img class="item-image" src="assets/backgrounds/trainingPlan.png" alt="">
    <p class="item-title">Plan treningowy</p>
    <p class="item-desc">Spersonalizowany plan treningowy dostosowany do Twoich celów</p>
    <p class="price">120 zł</p>
  </div>

  <form class="offers-form" (ngSubmit)="addOffer()" >
    <label for="serviceSelect">Wybierz usługę:</label>
    <select id="serviceSelect" name="service" [(ngModel)]="selectedOption" required>
      <option value="training">Trening personalny</option>
      <option value="voucher">Voucher</option>
      <option value="trainingPlan">Plan treningowy</option>
    </select>
    <div class="offers-item">
      <label for="nameInput">Imię i nazwisko:</label>
      <input type="text" id="nameInput" name="name" [(ngModel)]="name" required>
    </div>
    <div class="offers-item">
      <label for="emailInput">Email:</label>
      <input type="email" id="emailInput" name="email" [(ngModel)]="email" required>
    </div>
    <div class="offers-item">
      <label for="phoneInput">Telefon:</label>
      <input type="tel" id="phoneInput" name="phone" [(ngModel)]="phone" required>
    </div>
    <div class="offers-item">
      <label for="additionalInfoTextarea">Dodatkowe informacje:</label>
      <textarea id="additionalInfoTextarea" name="additionalInfo" [(ngModel)]="additionalInfo"></textarea>
    </div>
    <button type="submit">Złóż zamówienie</button>
  </form>
</section>
